body {
  background-color: #F5F5DC; /* Beige color */
  font-family: 'GFS Didot', serif; /* GFS Didot font */
  color: black; /* Black font color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 10px; /* Space for the fixed navbar */
  padding-left: 2rem;
  padding-right: 2rem;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.items-container {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

