body {
  background-color: #F5F5DC; /* Beige color */
  font-family: 'GFS Didot', serif; /* GFS Didot font */
  color: black; /* Black font color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* Space for the navbar */
}

.items-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
