.cart {
  position: fixed;
  top: 0;
  right: 20;
  right: 20px; /* Ensure there's a unit (px) */
  width: 300px; /* Set a fixed width */
  height: 500px; /* Set a fixed height */
  background-color: whitesmoke;
  overflow-y: auto; /* Add vertical scroll for overflow */
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border: black;
  z-index: 1000; /* Ensure it is on top */
}
.big-logo {
  height: 150px;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 0.5rem 1rem 0;
}
.cart-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--light-grey);
  gap: 1rem; /* Ensure a gap between items */
}

.cart-item-image {
  width: 50px;
  height: auto;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity span[role="img"] {
  cursor: pointer;
  color: var(--tertiary);
  margin-left: 0.5rem;
}

.cart-item-quantity input {
  width: 50px;
  margin-left: 0.5rem;
}


@media screen and (max-width: 768px) {
  .cart {
    position: fixed;
    right: 0;
    width: 100%; /* Full width for smaller screens */
    height: 100%; /* Full height for smaller screens */
    box-shadow: none;
    background-color: var(--light);
  }

  .cart-closed {
    position: fixed;
    top: 2%;
    right: 5%;
    margin: 0 auto;
  }
}
