

.product-price {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
.add-to-cart {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
  
.add-to-cart:hover {
    background-color: #333;
} 
  